{%extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <div class="alert alert-success" role="alert">
        <span class="text-dark">Username: </span><span class="text-danger ml-5">time</span>
        <hr>
        <span class="text-dark">Password: </span><span class="text-danger ml-4">timeismoney</span>
      </div>
      <form action="" method="post" class="text-center">{% csrf_token %}
        {{ loginform|crispy }}
        <input class="btn btn-secondary" type="submit" value="Signin" />
      </form>
    </div>
  </div>
</div>
{% endblock %}
